DB_URL=jdbc:mysql://localhost:3306/uberapp
DB_USERNAME=root
DB_PASSWORD=your_password

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

REDIS_HOST=localhost
REDIS_PORT=6379

LOCATION_SERVICE_URL=http://localhost:8082